In [46]:
# Data Manipulation
import pandas as pd
# Calculations and Numerical Operations
import numpy as np
# Data Visualization
import plotly
from plotly import tools
import plotly.offline as py
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
from plotly.tools import make_subplots
# Geographic Data Visualization
import matplotlib.pyplot as plt
%matplotlib inline
import folium
from folium import features
from folium.plugins import HeatMap
from folium.plugins import MarkerCluster, FastMarkerCluster
import gmplot
from IPython.display import display
import gmaps
from IPython.display import IFrame
import seaborn as sns

In [25]:
df = pd.read_csv('NYPD.csv')
df.columns

C:\Users\Steven\AnacondaNew\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning:

Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.

Index(['Unnamed: 0', 'DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'UNIQUE KEY', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [3]:
west, south, east, north = -84.03, 30.63, -63.77, 50.85

df = df[(df.LATITUDE> south) & (df.LATITUDE < north)]
df = df[(df.LONGITUDE> west) & (df.LONGITUDE < east)]

data = {'lon': df['LONGITUDE'].values, 'lat': df['LATITUDE'].values}
mf = pd.DataFrame(data, columns=['lon', 'lat'])

In [18]:
hm = folium.Map(location=[40.731950, -73.890480],
                        zoom_start=11,
                        tiles="CartoDB dark_matter")
heat_map = HeatMap(list(zip(mf.lat.values, mf.lon.values)), 
     min_opacity=0.2,
     radius=9, blur=15,
     max_zoom=1
)
hm.add_child(heat_map)
hm.save('heatmap.html')
IFrame(src='./heatmap.html', width=1100, height=900)

In [15]:
cluster = folium.Map(location=[40.731950, -73.890480],
                        zoom_start=12,
                        tiles="CartoDB dark_matter")
mc = MarkerCluster()
for ind,row in mf.iterrows():
    mc.add_child(folium.CircleMarker(location=[row['lat'],row['lon']],
                        radius=1,color='#3185cc'))
    #############################
cluster.add_child(mc)
cluster.save('cluster.html')
IFrame(src='./cluster.html', width=1100, height=900)

In [6]:
print(df['BOROUGH'].value_counts())

BROOKLYN         31634
QUEENS           27250
MANHATTAN        24451
BRONX            14057
STATEN ISLAND     4554
Name: BOROUGH, dtype: int64

In [51]:
print(df['NUMBER OF PERSONS INJURED'].value_counts())

0.0     121447
1.0      22022
2.0       4171
3.0       1402
4.0        574
5.0        228
6.0         79
7.0         31
8.0         16
9.0          9
10.0         8
11.0         5
13.0         3
12.0         2
19.0         1
Name: NUMBER OF PERSONS INJURED, dtype: int64

In [45]:
corr = df[['BOROUGH', 'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']]

In [53]:
df['CROSS STREET NAME']

0         LENOX AVENUE
1                                 AVENUE V
2                                      NaN
3                                      NaN
4         EAST 172 STREET
5         AVENUE H
6         YUKON AVENUE
7         CHAMBERS STREET
8                                      NaN
9         3 AVENUE
10        38 STREET
11                             MAIN STREET
12                                     NaN
13        BRIGGS AVENUE
14        MOORE STREET
15                                     NaN
16        LIBERTY AVENUE
17                                     NaN
18        WEST 125 STREET
19                                     NaN
20        VANWYCK EXPRESSWAY
21                                     NaN
22        GRAND AVENUE
23                                     NaN
24                                     NaN
25                                     NaN
26                                     NaN
27                           OCEAN PARKWAY
28        9 AVENUE
29                         FAIRMOUNT PLACE
                        ...
149970                 WOODHAVEN BOULEVARD
149971                                 NaN
149972    ARDEN AVENUE
149973    BAY 52 STREET
149974    NORTH 12 STREET
149975    5 AVENUE
149976                      WEST 42 STREET
149977    EAST 156 STREET
149978                                 NaN
149979                      WEST 36 STREET
149980    110 ROAD
149981                                 NaN
149982                     WEST 147 STREET
149983                                 NaN
149984    EAST CLARKE PLACE
149985    PARK PLACE
149986                                 NaN
149987                                 NaN
149988                     CRAWFORD AVENUE
149989                                 NaN
149990                                 NaN
149991    87 STREET
149992                                 NaN
149993                     SEDGWICK AVENUE
149994                                 NaN
149995                                 NaN
149996    7 AVENUE
149997    28 STREET
149998    MADISON AVENUE
149999                                 NaN
Name: CROSS STREET NAME, Length: 150000, dtype: object

In [57]:
df.isna().sum()

Unnamed: 0                            0
DATE                                  0
TIME                                  0
BOROUGH                           45166
ZIP CODE                          45184
LATITUDE                          18741
LONGITUDE                         18741
LOCATION                          18741
ON STREET NAME                    28761
CROSS STREET NAME                 48878
OFF STREET NAME                  130069
NUMBER OF PERSONS INJURED             2
NUMBER OF PERSONS KILLED              2
NUMBER OF PEDESTRIANS INJURED         0
NUMBER OF PEDESTRIANS KILLED          0
NUMBER OF CYCLIST INJURED             0
NUMBER OF CYCLIST KILLED              0
NUMBER OF MOTORIST INJURED            0
NUMBER OF MOTORIST KILLED             0
CONTRIBUTING FACTOR VEHICLE 1       361
CONTRIBUTING FACTOR VEHICLE 2     19880
CONTRIBUTING FACTOR VEHICLE 3    140421
CONTRIBUTING FACTOR VEHICLE 4    147991
CONTRIBUTING FACTOR VEHICLE 5    149510
UNIQUE KEY                            0
VEHICLE TYPE CODE 1                 445
VEHICLE TYPE CODE 2               24297
VEHICLE TYPE CODE 3              137571
VEHICLE TYPE CODE 4              145298
VEHICLE TYPE CODE 5              148981
dtype: int64